.Note {
    margin: 0;
    padding: 0;
    width: 80%;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
}

.Note .text {
    width: 100%;
    height: 100%;
    border-style: solid;
}

.Note .title {
    font-size: 7mm;
    width: 100%;
}

.ListNote {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    float: left;
}

ul {
    padding: 0;
    list-style-type: none;
}

input {
    box-sizing: border-box;
}

.ListNote .Note {
    width: 100%;
    height: 100%;
}

.ListNote .title {
    font-size: 4mm;
    width: 100;
    border: inherit;
}

.ListNote .text {
    display: none;
}